<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <style>
        .warning{
        color:red;
        }
    </style>
  <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <form th:action="@{/processRegistrationForm}" method="POST">
<!--    <div class="container warning" th:if="${param.error}">-->
<!--      <i>Sorry you have entered an invalid username/password</i>-->
<!--    </div>-->
<!--    <div class="container warning" th:if="${param.logout}">-->
<!--      <i>You have been logged out! Please login to continue</i>-->
<!--    </div>-->
    <div class="mb-3">
      <label for="username" class="form-label">User Name</label>
      <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary" value="Login">Register</button>

  </form>
  <div>
    <a th:href="@{/register/showRegistrationForm}"
       class="btn btn-primary mt-3"
       role="button"
       aria-pressed="true">Register New User</a>
  </div>
</div>
</body>
</html>