<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.com">
<head>
    <meta charset="UTF-8">
    <title>customer-form</title>
    <style>
        .error{color:red}
    </style>
</head>
<body>
    <h3>Welcome to the Registration Section</h3>
    <form th:action="@{/processForm}" th:object="${customer}"  method="POST">
       First Name    :  <input type="text" th:field="${customer.firstName}" />
        <br/><br/>
       Last Name (*) :  <input type="text" th:field="${customer.lastName}" />

     <!-- Add error message (if present)-->
       <span th:if="${#fields.hasErrors('lastName')}"
             th:errors="${customer.lastName}" class="error"/>
       </br></br>

        Number(*)  : <input th:type="text" th:field="${customer.number}"/>
<!--        Add error message if present-->
        <span th:if="${#fields.hasErrors('number')}"
              th:errors="${customer.number}" class="error"></span>
        </br></br>

        Course Code  : <input th:type="text" th:field="${customer.courseCode}"/>
        <!--        Add error message if present-->
        <span th:if="${#fields.hasErrors('courseCode')}"
              th:errors="${customer.courseCode}" class="error"></span>
        </br></br>

        <button type="submit" >Submit</button>
    </form>
</body>
</html>